:root {
  --body-color:#757575;
  --logo__span: #2196F3;
  --h-color:#000000;
  --titles-color:#212121;
  --title-hero:#FFFFFF;
  --logo_logo-footer:#ffffff;
  --footer-list__map-color:#ffffff;
  --background-body:#ffffff;
  --background-button: #F5F4FA;
  --background-focus-button: #2196F3;
  --background-hero:#2F303A;
  --background-hero-focus:#188CE8;
  --background-teammates:#F5F4FA;
  --background-teammates-item:#FFFFFF;
  --background-titles-item:#FFFFFF;
  --background-footer:#2F303A;
  --hover-links:#ffffff;
  --hover-links-background:#2196F3;
  --clients-color:#AFB1B8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, p {
  margin: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--body-color);
  background-color: var(--background-body);
  font-size: 14px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .hero {
    background: var(--background-hero);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Mobile_min/mobile-hero-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 480;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Mobile_min/mobile-hero@2x-min.jpg);
  }
}
@media screen and (max-width: 767px) {
  .hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-hero);
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (max-width: 767px) {
  .work {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .clients-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .example-menu {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
  }
}
@media screen and (max-width: 767px) {
  .titles-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
  }
}
.big-headers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--titles-color);
  margin-bottom: 50px;
}

.examples {
  display: flex;
  gap: 30px;
}

.team {
  background: var(--background-teammates);
}

footer {
  background: var(--background-footer);
  padding: 60px 0;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--background-body);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms linear, visibility 500ms linear;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-btn:focus, .mobile-menu__close-btn:hover {
    fill: #2196F3;
  }
  .mobile-social_list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .mobile-social_item {
    position: relative;
    margin-left: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22px;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .mobile-social_item:not(:first-child)::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -10px;
    display: block;
    height: 22px;
    width: 1px;
    border-radius: 2px;
    transform: translate(0, 50%);
    background-color: var(--background-focus-button);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header-contacts__mobile {
    display: none;
  }
  .contacts__icon {
    display: none;
  }
  .header-contacts_tel {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--background-focus-button);
  }
  .header-contacts_mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--body-color);
  }
  .contacts-nav {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 480px) {
  .page-header {
    height: 60px;
    border-bottom: 1px solid #ECECEC;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.container_header-container {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1199px) {
  .logo {
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
  .logo__span {
    color: var(--logo__span);
  }
  .logo_logo-footer {
    text-align: center;
    display: block;
    padding: 0px;
    color: var(--logo_logo-footer);
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .logo__span {
    color: var(--logo__span);
  }
}
@media screen and (max-width: 767px) {
  .nav-menu__mobile {
    display: none;
  }
  .nav-menu {
    color: var(--h-color);
    margin-bottom: 302px;
  }
  .nav-menu__item {
    margin-bottom: 32px;
  }
  .nav-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-menu__link:hover,
.nav-menu__link:focus,
.contacts:hover,
.contacts:focus {
    color: var(--background-focus-button);
  }
  .mobile-menu-open {
    padding: 0;
    background: transparent;
    border: 0;
    line-height: 0;
  }
  .mobile-menu-open:focus, .mobile-menu-open:hover {
    fill: #2196F3;
  }
}
.hero-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-hero);
  background: var(--background-focus-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:focus, .hero-button:hover {
  background: var(--background-hero-focus);
}

@media screen and (max-width: 767px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 609px;
    padding: 40px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--background-body);
    transform: translate(-50%, -50%) rotateX(0deg) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-modal {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-modal:focus, .close-modal:hover {
    fill: #2196F3;
  }
  .modal__description {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
  .modal-form {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .modal-form label {
    margin-bottom: 4px;
    display: block;
    color: var(--body-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
  }
  .modal__form-field {
    position: relative;
    margin-bottom: 10px;
  }
  .modal__form-field_last-child {
    position: relative;
    margin-bottom: 20px;
  }
  .modal__form-icon {
    position: absolute;
    bottom: 12px;
    left: 11px;
    fill: var(--titles-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__form-field > input:focus + .modal__form-icon, .modal__form-field > input:hover + .modal__form-icon {
    fill: #2196F3;
  }
  .modal__form-field > input {
    padding: 12px 0 12px 42px;
    width: 370px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__form-field > input:focus, .modal__form-field > input:hover {
    outline: none;
    border: 1px solid #2196F3;
  }
  .modal-form textarea {
    padding: 12px 16px;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form textarea:focus {
    outline: none;
    border: 1px solid #2196F3;
  }
  .comment-area {
    display: block;
    width: 370px;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }
  .modal-contract-description {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .modal-check-decoration {
    color: #2196F3;
    text-decoration-line: underline;
    margin-left: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
  }
  .modal__form-chekbox {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }
  .modal__form-chekbox > label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .check-icon {
    position: relative;
    top: -2px;
    width: 16px;
    height: 15px;
    background-size: contain;
    margin-right: 8px;
    background-image: url(../images/svg-icons/Vector.svg);
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__input-chekbox:checked + .check-icon {
    background-image: url(../images/svg-icons/icon\ check.svg);
    background-color: var(--background-focus-button);
    border-radius: 2px;
  }
  .modal__input-chekbox {
    appearance: none;
  }
  .hero-button_modal-button {
    margin-top: 0px;
  }
}
@media screen and (max-width: 767px) {
  .properties-element__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--titles-color);
    margin-top: 30px;
    text-align: center;
  }
  .properties-element__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 10px;
  }
  .properties-element__image {
    background-color: var(--background-button);
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background: var(--background-button);
  color: #212121;
  border: none;
}

.button_example-button {
  padding: 6px 22px;
  background: var(--background-button);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button_example-button:hover, .button_example-button:focus {
  color: var(--background-titles-item);
  background-color: var(--background-focus-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.examples-item {
  flex-basis: calc((100% - 60px) / 3);
}

.examples-item__opacity {
  position: relative;
}

.examples-item__descrirtion {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--title-hero);
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 767px) {
  .teammates-item {
    margin-top: 30px;
  }
}
.teammates-item {
  background: var(--background-teammates-item);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 90px) / 4);
}

.teammates-block {
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.teammates-block__name {
  color: var(--titles-color);
}

.teammates-block_position {
  margin-top: 10px;
}

.clients-item__link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clients-color);
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-item__link:hover, .clients-item__link:focus {
  color: var(--hover-links-background);
  border-color: var(--hover-links-background);
}

.clients-item__icon {
  fill: currentColor;
}

.titles-item__link {
  display: block;
  background: var(--background-titles-item);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.titles-item__link:hover, .titles-item__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.titles-overlay {
  position: relative;
  overflow: hidden;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.titles-overlay__curtain {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 294px;
  display: flex;
  align-items: center;
  padding: 24px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.titles-item__link:hover .titles-overlay__curtain, .titles-item__link:focus .titles-overlay__curtain {
  transform: translate(0, 0);
}

.titles-overlay__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--title-hero);
}

.titles-item .titles-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titles-color);
}

ul .titles-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
}

.titles-item__border {
  border: 1px solid #EEEEEE;
  border-top: none;
  padding: 20px 24px;
}

@media screen and (min-width: 1200px) {
  .titles-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.social-menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.social-menu__links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--clients-color);
  background-color: var(--background-body);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-menu__links:focus, .social-menu__links:hover {
  color: var(--hover-links);
  background-color: var(--hover-links-background);
}

.social-menu__icons {
  fill: currentColor;
}

address {
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .footer-list__map {
    color: var(--logo_logo-footer);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-list {
    margin-top: 20px;
  }
  .footer-list__item {
    text-align: center;
  }
  .footer-list__item:not(:first-child) {
    margin-top: 8px;
  }
  .footer-list__contacts-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-list__contacts-footer:hover,
.footer-list__contacts-footer:focus,
.footer-list__map:hover,
.footer-list__map:focus {
    color: var(--background-focus-button);
  }
}
@media screen and (max-width: 767px) {
  .social-block {
    margin-top: 60px;
  }
  .sign-up__title {
    margin-top: 60px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--title-hero);
  }
  footer .social-menu__links {
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
  }
  footer .social-menu {
    margin-top: 20px;
  }
  .sign-up {
    margin-left: auto;
  }
  .sign-up__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: currentColor;
  }
  footer .social-menu__links {
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.1);
  }
  .sign-up__input {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    padding: 15px 0px 15px 16px;
    color: #FFFFFF;
    background: var(--background-footer);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  padding: 15px 15px;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  perspective: 600px;
  z-index: 1;
}

.backdrop.backdrop_is-hidden .modal {
  transform: perspective(600px) translate(-50%, -50%) rotateX(45deg) scale(0.5);
}

.backdrop.backdrop_is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}/*# sourceMappingURL=main.css.map */