body 
{
    font-family: 'Roboto', sans-serif;  
    color:var(--body-color);
    background-color: var(--background-body);
    font-size: 14px;
    letter-spacing: 0.03em;
    
}

@media screen and (max-width: 767px){
   .hero
{
   background: var(--background-hero);
   background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/Mobile_min/mobile-hero-min.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   margin-left: auto;
   margin-right: auto;
   width: 480;
   height: 400px;
   padding-top: 118px;
   padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
   .hero{
    background-image:  linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/Mobile_min/mobile-hero@2x-min.jpg);
  }
}

.hero-title
{
   
   font-weight: 900;
   font-size: 26px;
   line-height: 1.62;
   letter-spacing: 0.06em;
   text-transform: uppercase;

   color: var(--title-hero);

   width: 360px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
  

}

.section
{
   padding: 60px 0;
}

.work {
   display: none;
}

.clients-menu {
   display: flex;
   justify-content: center;
   align-items: center;
   gap:30px;
   flex-wrap: wrap;

}

.example-menu{
   display: flex;
   justify-content:flex-start;
   flex-wrap: wrap;
   gap: 8px;

}

.titles-menu{
   display: flex;
   flex-wrap: wrap;
   gap: 30px;

   margin-top: 40px;
}
}




// .hero
// {
//    background: var(--background-hero);
//    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/hero/Img-min.jpg);
//    background-repeat: no-repeat;
//    background-size: cover;
//    margin-left: auto;
//    margin-right: auto;
//    width: 1600px;
//    height: 600px;
//    padding-top: 200px;
//    padding-bottom: 200px;
// }

// .hero-title
// {
   
//    font-weight: 900;
//    font-size: 44px;
//    line-height: 1.36;
//    letter-spacing: 0.06em;
//    text-transform: uppercase;

//    color: var(--title-hero);

//    width: 696px;
//    margin-left: auto;
//    margin-right: auto;
//    text-align: center;
  

// }

// .section
// {
//    padding: 94px 0;
// }

// Our properties=======================
// .properties{
//     display: flex;
    
//     gap: 30px;
//  }
 

//  What we do==========================
// .work {
//    padding-top: 0;
// }

.big-headers
{
   
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;

   color: var(--titles-color);

   margin-bottom: 50px;
}

.examples{
   display: flex;
   gap: 30px;
   
   
}
// Our team==============================
.team
{
   background: var(--background-teammates);
}


// .teammates{
//    display: flex;
//    gap:30px;

// }

// Clients====================================
// .clients-menu {
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    gap:30px
// }

// Menu Portfolio============================
// .example-menu{
//    display: flex;
//    justify-content: center;
//    gap: 8px;

// }
// .titles-menu{
//    display: flex;
//    flex-wrap: wrap;
//    gap: 30px;

//    margin-top: 50px;
// }