  @media screen and (max-width: 767px){
  .header-contacts__mobile{
    display: none;
  }

  .contacts__icon{
    display: none;
  }

  
  .header-contacts_tel
  {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
  
    letter-spacing: 0.02em;
    color: var(--background-focus-button);
  }

  .header-contacts_mail{
    font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: var(--body-color);
  }

  .contacts-nav{
    margin-bottom: 64px;
  }
}
  
// ===================Tablet=======================

@media screen and (min-width: 768px) and (max-width: 1199px) {

.header-contacts__item{
    display: inline-flex;
    align-items: center;
    cursor:pointer;

    &:last-child{
      margin-top: 10px;
    }
    
  }



   .contacts
  {
    display: flex;
    align-items: center;
 
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    
 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    &__icon {
    margin-right: 8px;
    fill: currentColor;
    }
    &__icon_envelope{
    width: 14px;
    height: 10px;
 
    }
    &__icon_smartfone{
    width: 10px;
    height: 14px;
    
  }
  }
  }


  // ========================DESKTOP================
  @media screen and (min-width: 1200px){
.header-contacts__item{
    display: inline-flex;
    align-items: center;
    cursor:pointer;
    
    &:last-child {
  margin-left: 50px;
  }
  }

 
 
  .contacts
  {
    display: flex;
    align-items: center;
 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    &__icon {
    margin-right: 10px;
    fill: currentColor;
    }
    &__icon_envelope{
    width: 16px;
    height: 12px;
 
    }
    &__icon_smartfone{
    width: 10px;
    height: 16px;
    
  }
  }
  }
  // .header-contacts__item{
  //   display: inline-flex;
  //   align-items: center;
  //   cursor:pointer;
    
  //   &:last-child {
  // margin-left: 50px;
  // }
  // }

 
 
  // .contacts
  // {
  //   display: flex;
  //   align-items: center;
 
  //   font-weight: 500;
  //   font-size: 14px;
  //   line-height: 1.14;
  //   letter-spacing: 0.02em;
  //   padding-top: 32px;
  //   padding-bottom: 32px;
 
  //   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
  //   &__icon {
  //   margin-right: 10px;
  //   fill: currentColor;
  //   }
  //   &__icon_envelope{
  //   width: 16px;
  //   height: 12px;
 
  //   }
  //   &__icon_smartfone{
  //   width: 10px;
  //   height: 16px;
    
  // }
  // }