.teammates-item
{

   background: var(--background-teammates-item);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
   flex-basis: calc((100% - 90px) / 4);
   
}
.teammates-block{
   padding-top: 30px;
   padding-bottom: 30px;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
}
.teammates-block__name
{
   color: var(--titles-color);

   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;

   
}

.teammates-block_position
{
   margin-top: 10px;

   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
  
   letter-spacing: 0.03em;
}

// ==================MOBILE=======================================
@media screen and (max-width: 767px){
   .teammates-item{
      margin-top: 30px;
   }
}

@media screen and (min-width: 768px){
   .teammates-item{
      // margin-top: 30px;
      flex-basis: calc((100% - 30px) / 2);
   }

}

@media screen and (min-width: 1199px){
   .teammates-item{
      margin-top: 30px;
      flex-basis: calc((100% - 90px) / 4);
   }
}

// .teammates-item
// {

//    background: var(--background-teammates-item);
//    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//    border-radius: 0px 0px 4px 4px;
//    flex-basis: calc((100% - 90px) / 4);
   
// }

// .teammates-block{
//    padding-top: 30px;
//    padding-bottom: 30px;
//    font-weight: 500;
//    font-size: 16px;
//    line-height: 1.19;
//    text-align: center;
// }
// .teammates-block__name
// {
//    color: var(--titles-color);
// }

// .teammates-block_position
// {
//    margin-top: 10px;
// }


