// ====================Mobile====================++++++
@media screen and (max-width: 480px){
    .page-header{
        height: 60px;
        border-bottom: 1px solid #ECECEC;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

 .container_header-container{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    
 }



// .page-header{
//     height: 80px;
//     border-bottom: 1px solid #ECECEC;;
 
//  }
//  .container_header-container{
//     display: flex;
//     align-items: center;
    
//  }

//  .header-nav-container{
//     display: flex;
//     align-items: center;
//  }
//  .header-contacts {
//     display: flex;
//     align-items: center;
//     margin-left: auto;
//  }
 