
.titles-item__link{
  display: block;
  background: var(--background-titles-item);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover ,
  &:focus {

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

  }
}


.titles-overlay{
  position: relative;
  overflow: hidden;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

}

.titles-overlay__curtain{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 294px;
  display: flex;
  align-items:center;
  padding: 24px 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translate(0 , 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


  .titles-item__link:hover &,
  .titles-item__link:focus & {
   transform: translate(0, 0);
}

}


.titles-overlay__description{
  
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--title-hero);

}

.titles-item .titles-name
{
  
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  
  color: var(--titles-color);


 
}


ul .titles-description
{
 
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;

  margin-top: 4px;
  
}

.titles-item__border
{
  border: 1px solid #EEEEEE;
  border-top: none;
  padding: 20px 24px;
}

// =================TABLET======================

@media screen and (min-width: 768px) and (max-width: 1199px){
  .titles-item
  {
    
    flex-basis: calc((100% - 30px) /2 ) ;
    
  }

  .titles-item__link{
  
    display: flex;
    flex-direction: column;
    height: 100%;
      
  }
  
  .titles-item__border
{
  flex-grow: 1;
}
  
}


// ===========================DESKTOP==========================
@media screen and (min-width: 1200px){
  .titles-item
  {
    
    flex-basis: calc((100% - 60px) /3 ) ;
    
  }
}