:root
{
   --body-color:#757575;
   --logo__span: #2196F3;
   --h-color:#000000;
   --titles-color:#212121;
   --title-hero:#FFFFFF;
   --logo_logo-footer:#ffffff;
   --footer-list__map-color:#ffffff;

   --background-body:#ffffff;
   --background-button: #F5F4FA;
   --background-focus-button: #2196F3;
   --background-hero:#2F303A;
   --background-hero-focus:#188CE8;
   --background-teammates:#F5F4FA;
   --background-teammates-item:#FFFFFF;
   --background-titles-item:#FFFFFF;
   --background-footer:#2F303A;

   --hover-links:#ffffff;
   --hover-links-background:#2196F3;

   --clients-color:#AFB1B8;
}


